.footer{
    .container{
        background-color: antiquewhite;
         padding-inline: 20px;
         padding-block: 8px;
        border-radius: 10px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2{
            color: gray;
        }
    }
}
@media screen and (min-width:500px) {
    footer {
        .container{
            padding: 20px;

        }
    }
    
}