main{
    margin-top: 50px;
    button{
      background-color: rgb(235, 158, 15);
      border: none;
      border-radius: 10px;
      margin-bottom: 20px;
      padding: 15px 20px;
      cursor: pointer;
   font-weight: bold;
       color: white;
       transition: 0.5s background-color;
       &:hover{
         background-color: rgb(197, 132, 10);
       }
    }
    .top-card-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
   
        .top-card{
            width: 100%;
            padding: 10px;
            border-radius: 10px;
            overflow: hidden;
             .inner{
                background-image: url('../assets/topcardImage.jpg');
                background-size: cover;
                background-position: bottom -20px right 0px;
                border-radius: 10px;
                 padding: 20px;
                 padding-bottom: 50px;
                 h4{
                    font-weight: 400;
                 }
                 h3{
                    color: rgb(235, 158, 15);
                 }
                 div{
                    display: flex;
                 }
             }
        }
    }
    .location{
      display: flex;
      gap: 20px;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      background-color: antiquewhite;
      padding: 10px;
      padding-inline: 20px;
      border-radius: 10px;
     $arrow-bg: rgba(255, 255, 255, 0.3);
     $arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
     $option-bg: white;
     $select-bg: rgba(255, 255, 255, 0.2);
     h3{
      width: 100%;
     }
    }
      .location-icon{
         display: flex;
         gap: 20px;
         align-items: center;
         i{
            font-size: 20px;
            color: rgb(53, 50, 50);
         }
      }
      select {
         /* Reset */
         appearance: none;
         border: 0;
         outline: 0;
         font: inherit;
         /* Personalize */
         width: 100%;
         padding: 1rem 4rem 1rem 1rem;
         background: 
           linear-gradient(to left, rgba(255, 255, 255, 0.1) 3em, rgba(255, 255, 255, 0.1) 3em);
         border-radius: 0.25em;
         box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
         cursor: pointer;
         /* Remove IE arrow */
         &::-ms-expand {
           display: none;
         }
         /* Remove focus outline */
         &:focus {
           outline: none;
         }
         /* <option> colors */
         option {
           color: inherit;
           background-color: antiquewhite
         }
       }
       .prayer-times{
         margin-bottom: 20px;
       }
}
.loading{
   height: 100vh;
   position: fixed;
   inset: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: white;
 
}

@media screen and (min-width:500px) {
     main {
        .top-card-container{
        .top-card{
        width: 50%;

     }
     
   }
   .location{
      flex-direction: row;
      select{
         width: 20rem;

      }
      h3{
      width: auto;
      }
   }
}
}